@model Web.ViewModels.FloorsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parking loot</h1>

    <div id="parking-lot-data">
        <div id="data-wrapper">
            @{ Html.RenderPartial("Data.cshtml", Model); }
        </div>
    </div>
    <div id="parking-form">
        <input id="input-license-plate" />
        <select id="floorSelect">
            <option value="1">First floor</option>
            <option value="-2">Ground floor</option>
        </select>
        <button id="suggest-and-park">Find parking spot</button>
    </div>
    <div id="Suggestion"></div>
    <div id="Errors"></div>
</div>